body {
    background-color: black;
    opacity: 0.9;
    font-size: 22px;
    color: seashell;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

nav {
    background-color: black;
    width: 100%;
    position: fixed;
}

main {
    /* display: flex; */
}

#logo {
    width: 50px;
    height: 10px;
}

#hero {
    width: 1200px;
    height: 700px;
    background-image: url('../teacozy/images/img-mission-background.jpg');
    display: flex;
    align-items: center;
}

#hero-text{
    background-color: black;
    opacity: 0.9;
    width: 100%;
}

.tea {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

#locations {
    height: 500px;
    background-image: url('../teacozy/images/img-locations-background.jpg');
    display: flex;
}


.location {
    background-color: black;
    opacity: 1;
    width:300px;
    height: 300px;
    margin: 15px 40px;
    align-items: center;
    justify-content: center;
}