@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Titan+One&display=swap');

html, body {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
  /* hides scroll bar*/
  overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
}

h1 {
  margin: 15px;
  font-size: 44px;
  font-family: 'Titan One', sans-serif;
  font-weight: normal;
}

/* seating chart grid */

.row {
  display: flex;
  justify-content: center;
}

.box {
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  margin: 3px 2px;
  font-size: 24px;
  width: 100px;
  height: 70px;
  border: 1px solid black;
}

.space {
  border: 1px solid white;
}


/* bottom of the page - shuffle button and footer */

#buttons {
  display:flex;
  justify-content: center;
}

button {
  width: auto;
  padding: 10px;
  margin: 12px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 12px;
  margin-top: 15px;
  background-color: navy;
  color: white;
}