<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Rachel's Projects</title>
    <link rel="stylesheet" href="../rmill1.github.io/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>Thing 1</li>
          <li>Thing 2</li>
          <li>Thing 3</li>
        </ul>
      </nav>
    </header>
    
    <main>
      <h1>
        Rachel's Portfolio
      </h1>
  
      <ul>
        <li><a href="../rmill1.github.io/resume/resume.html">Resume</li>
        <li><a href="../rmill1.github.io/upperline/upperline.html">Projects for ULC Teaching Fellowship</a><br></li>
      </ul>
    </main>

    <footer>

    </footer>
    
  </body>
</html>