@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600;700;800&display=swap');

* {
  text-align: center;
  font-family: 'Lexend', arial, sans-serif;
}

body {
  background-color: #EDF6F9;
/*   background-image: url("https://cdn.glitch.com/2a9f0280-879e-4ff7-ace5-244070f40c6d%2Fpoke%20background.png?v=1622086620847") */
  
}

.container {
  text-align: center;
}

.row {
  width: 100%;
  
}
.col-2 {
  height: auto;
  
}

h2 {
  font-size: 2.25vw;
}

h4 {
  font-size: 1.5vw;
}

#title-img {
  width: 50vw;
  height: auto;
  margin: 10px;
}

#input {
  width: 100%;
  height: auto;
  margin-bottom: 2px;
  font-size: 1.5vw;
}

#description {
  text-align: center;
  font-size: 1vw;
  margin-bottom: 20px;
}

.button {
  width: 10vw;
  height: auto;
  font-size: 1.25vw;
}

#pokeName {
  margin: 10px;
/*   background-color: rgba(255, 255, 255, 0.5); */
}

#pokeInfo {
  margin-bottom: 1vw;
  height: auto;
/*   background-color: rgba(255, 255, 255, 0.5); */
}

#pokeImage {
  margin: 5px;

/*   background-color: rgba(255, 255, 255, 0.5); */
}

#pokeImage img {
  width: 10vw;
  height: auto;
}

.head-foot {
  background-color: #396BBA;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  font-size: 1vw;
}

.head-foot a {
  color: #ffffff;
}
